## Settings file was created by plugin More Strafts Players v0.1.0
## Plugin GUID: com.nitrogenia.morestrafts

[Debug]

## Write a small per-instance log file to BepInEx/moreStrafts_debug. Include these files in bug reports.
# Setting type: Boolean
# Default value: false
PerInstanceLogFiles = false

